.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #f2f2f2;
    outline: none;
    text-decoration: none;
  }
  
  .footer__column-link:hover {
    transition: 1.5s;
    opacity: 0.5;
  }